//THE COMMENT BELOW IS A NOTE THAT WILL APPEAR IN GENERATED .css, 
//IT DOES NOT APPLY TO THIS .scss FILE, SO YOU MAY EDIT IT.

//*===========* Cascade CSS Customization *===========*/
@import "compass/css3";


.dateChooserBorderedBottomButtonFocused,
.dateChooserBorderedBottomButtonSelected,
.dateChooserBorderedBottomButtonDown,
.dateChooserBorderedBottomButtonFocusedDown,
.dateChooserBorderedBottomButtonSelectedDown,
.dateChooserBorderedBottomButtonOver,
.dateChooserBorderedBottomButtonFocusedOver,
.dateChooserBorderedBottomButtonSelectedOver {
    background-color: $dateChooser_bottom_button_over_bgColor;
}

.dateChooserFiscalYearCell,
.dateChooserFiscalYearCellOver,
.dateChooserFiscalYearCellDown,
.dateChooserFiscalYearCellDisabled,
.dateChooserFiscalYearCellSelected,
.dateChooserFiscalYearCellSelectedDown,
.dateChooserFiscalYearCellSelectedOver,
.dateChooserFiscalYearCellSelectedDisabled {
    color: $dateChooser_header_text_color;
}

.dateChooserWeekCell,
.dateChooserWeekCellOver,
.dateChooserWeekCellDown,
.dateChooserWeekCellDisabled,
.dateChooserWeekCellSelected,
.dateChooserWeekCellSelectedDown,
.dateChooserWeekCellSelectedOver,
.dateChooserWeekCellSelectedDisabled {
    color: $dateChooser_header_text_color;
}


/* ColorPicker drop-shadow */
.colorPicker {
    @include box-shadow($window_shadow);
}

/* header-span button selected background */
.spannedHeaderButtonSelected {
    background-color: $listGrid_headerButton_selected_bgColor;
}

/* disabled grid headers */
.headerButtonDisabled,
.headerButtonSelectedDisabled,
.sorterButtonDisabled,
.sorterButtonSelectedDisabled {
    background: $listGrid_headerButton_disabled_bgColor;
}


/* pickList drop shadows */
.pickListMenu {
    border: $pickList_menu_border;
    @include box-shadow($window_shadow);
}
.pickListMenuBody {
    border: none;
}

