/*============================================================
    "Simplicity" theme programmatic settings
    Copyright 2003 and beyond, Isomorphic Software
============================================================*/

/*============================================================
General
============================================================*/

ol,
ul {
    -webkit-text-size-adjust: 100%;
}

.pageBackground {
    font-family:Arial,Verdana,sans-serif; font-size:11px;
    color:#333333;
    background:#FAFAFA;
}

/* default text */
.normal,
.normalFocused {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
}

.defaultBorder {
    border:1px solid #A7ABB4;
}

/* drag outline */
.dragOutline {
    border:1px solid #0060BF;
}

/* drop indicator */
.dropBorder {
    background-color:#808080;
}


/* hover canvas  */
.canvasHover,
.gridHover,
.formHover {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    color:#eee;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;    
    background-color:#595959;
    border:1px solid #808080;
    border: 2px solid #999;
    padding:5px;
    opacity: 0.9;
}

/* group label */
.groupLabel {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:#333333;
    padding-left:5px; padding-right:5px;
}

.richTextEditor p {
   margin-top:0px; margin-bottom:0px;
}

/*============================================================
Button (also used as MenuButton base style)
============================================================*/

.button,
.buttonOver,
.buttonDown,
.buttonDisabled,
.buttonSelected,
.buttonSelectedDown,
.buttonSelectedOver,
.buttonSelectedDisabled {
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding: 5px;
    border: 1px solid #868686;
    background: #f6f6f6;
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
}

.buttonOver {
    border-color: #534d4e;
    background: #f3f3f3;
    background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));
    outline: 0;
    box-shadow: 0 0 3px #999;

}

.buttonDown {
    background-color:#e7e7e7;
    border-color: #534d4e #716e6e #716e6e #534d4e;
    background-image: -moz-linear-gradient(top, #cccccc, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff));
}

.buttonDisabled {
    color: #999999;
    border-color: #C3C3C3;
    background: #ddd;
    background-image: -moz-linear-gradient(top, #cccccc, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff));
}

.buttonSelected,
.buttonSelectedDown,
.buttonSelectedOver,
.buttonSelectedDisabled {
    border-color: #999;
    background: #ddd;
    background-image: -moz-linear-gradient(top, #cccccc, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff));
}

.buttonSelectedOver {
    border-color: #548ACA;
    background: #ddd;
    background-image: -moz-linear-gradient(top, #cccccc, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff));
}

.buttonSelectedDisabled {
    font-size:11px; color:#666666;
}

.headerButton,
.headerButtonOver,
.headerButtonDown,
.headerButtonDisabled,
.headerButtonSelected,
.headerButtonSelectedDown,
.headerButtonSelectedOver,
.headerButtonSelectedDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    padding:2px;        
}
.headerButton {
    border-left:1px solid white; border-top:1px solid white;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
    background:#E7E7E7;
    background-image : -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(231,231,231)), color-stop(0.63, rgb(244,244,244)),color-stop(0.82, rgb(252,252,252)));
    background-image : -moz-linear-gradient(center bottom, rgb(231,231,231) 25%, rgb(244,244,244) 63%, rgb(252,252,252) 82%);
}

.headerButtonOver {
    border-left:1px solid white; border-top:1px solid white;
    border-right:1px solid #808080; border-bottom:1px solid #808080;    
    background:#dddddd;
    background-image : -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(211,211,211)), color-stop(0.71, rgb(242,242,242)), color-stop(0.77, rgb(252,252,252)));
    background-image :-moz-linear-gradient(center bottom, rgb(211,211,211) 10%, rgb(242,242,242) 71%, rgb(252,252,252) 77%);
}

.headerButtonDown {
    border-left:1px solid white;
    border-top:1px solid white;
    border-right:1px solid #808080;
    border-bottom:1px solid #808080;    
    background:#d5d5d5;
    background-image : -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(84,137,202)), color-stop(0.55, rgb(108,150,202)), color-stop(0.77, rgb(132,164,202)));
    background-image : -moz-linear-gradient(center bottom, rgb(84,137,202) 10%, rgb(108,150,202) 55%, rgb(132,164,202) 77%);
}

.headerButtonDisabled {
    color:#666666;
    border-left:1px solid #CCCCCC; border-top:1px solid #CCCCCC;	
    border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;
    background:#C3C3C3;
}

.headerButtonSelected,
.headerButtonSelectedDown,
.headerButtonSelectedOver,
.headerButtonSelectedDisabled {
    color:white;
    border-bottom:1px solid #4d76b8;
    background: #7abcff;
    background-image: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));

}

.headerButtonSelectedOver {
    color:white;
    background: #7abcff;
    background-image: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
}

.headerButtonSelectedDisabled {
    font-size:11px; color:#666666;
}


/*=============================================================================================
    ...Rotated styles, parallel those of headerButton and similar above, but are intended for
    header buttons with rotated (vertical) titles, so must provide top and bottom padding.
==============================================================================================*/
.headerButtonRotated {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(24%, #f7f7f7), color-stop(62%, #e8e8e8), color-stop(71%, #e8e8e8), color-stop(100%, #e8e8e8)) padding-box;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #f7f7f7 24%, #e8e8e8 62%, #e8e8e8 71%, #e8e8e8 100%) padding-box;
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #f7f7f7 24%, #e8e8e8 62%, #e8e8e8 71%, #e8e8e8 100%) padding-box;
  background: linear-gradient(to bottom, #fcfcfc 0%, #f7f7f7 24%, #e8e8e8 62%, #e8e8e8 71%, #e8e8e8 100%) padding-box;
}

.headerButtonRotated {
  color: black;
  font-family: Verdana,Bitstream Vera Sans,sans-serif;
  font-size: 11px;
  border-bottom: 1px solid #bfbfbf;
  padding-top: 3px;
  padding-bottom: 3px;
}

.headerButtonSelectedRotated {
  background-image: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* firefox */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
}

.headerButtonOverRotated,
.headerButtonDownRotated,
.headerButtonSelectedOverRotated,
.headerButtonSelectedDownRotated {
  color: black;
  font-family: Verdana,Bitstream Vera Sans,sans-serif;
  font-size: 11px;
}

.headerButtonOverRotated {
  background:#dddddd;
  background-image : -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(211,211,211)), color-stop(0.71, rgb(242,242,242)), color-stop(0.77, rgb(252,252,252)));
  background-image :-moz-linear-gradient(center bottom, rgb(211,211,211) 10%, rgb(242,242,242) 71%, rgb(252,252,252) 77%);
}

.headerButtonDownRotated {
  background-image : -webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(84,137,202)), color-stop(0.55, rgb(108,150,202)), color-stop(0.77, rgb(132,164,202)));
  background-image : -moz-linear-gradient(center bottom, rgb(84,137,202) 10%, rgb(108,150,202) 55%, rgb(132,164,202) 77%);
}

.headerButtonSelectedOverRotated,
.headerButtonSelectedDownRotated {
  background-image: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* firefox */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
}

.headerButtonSelectedRotated {
  color: white;
  background-color: #f0f6ff;
  font-family: Verdana,Bitstream Vera Sans,sans-serif;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.headerButtonDisabledRotated,
.headerButtonSelectedDisabledRotated {
  background:#C3C3C3;
  color: #666666;
  font-family: Verdana,Bitstream Vera Sans,sans-serif;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.headerButtonOverRotated,
.headerButtonDownRotated {
  color: black;
  font-family: Verdana,Bitstream Vera Sans,sans-serif;
  font-size: 11px;
  background-color: #a2ccf6;
  padding-top: 3px;
  padding-bottom: 3px;
}

.headerButtonSelectedOverRotated,
.headerButtonSelectedDownRotated {
  color: white;
  background-color: aliceblue;
  font-family: Verdana,Bitstream Vera Sans,sans-serif;
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* ImgButton */
.imgButton,
.imgButtonOver,
.imgButtonSelected,
.imgButtonSelectedDisabled,
.imgButtonSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:10px;
}
.imgButtonDown,
.imgButtonSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:10px;
}
.imgButtonDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:10px; color:#666666;
}

/* StretchImgButton */
.stretchImgButton,
.stretchImgButtonSelected,
.stretchImgButtonSelectedOver,
.stretchImgButtonOver,
.stretchImgButtonDown,
.stretchImgButtonSelectedDown,
.stretchImgButtonSelectedDisabled,
.stretchImgButtonDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:10px;
}
.stretchImgButtonSelectedDisabled,
.stretchImgButtonDisabled {
    color:#666666;
}

/*============================================================
  Menus
============================================================*/

.menuBorder {
    border-top:1px solid #93A9C0;
    border-bottom:1px solid #93A9C0;
    border-left:1px solid #93A9C0;
    border-right:1px solid #93A9C0;
}
.menu,
.menuDark,
.menuSelected,
.menuSelectedDark,
.menuOver,
.menuOverDark,
.menuSelectedOver,
.menuSelectedOverDark,
.menuDisabled,
.treeMenuSelected,
.treeMenuSelectedOver {
    border-top:1px solid white;
    border-bottom:1px solid white;
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; background-color:white;
}
.menuOver,
.menuOverDark,
.menuSelectedOver,
.menuSelectedOverDark {
    color:white; background-color:#3E74B3;
    border-top:1px solid #5E94D3;
    border-bottom:1px solid #1E5493;
}
.treeMenuSelected {
    background-color:#fff1a8;
    border-top:1px solid #ffeb90;
    border-bottom:1px solid #ffeb90;
}

.treeMenuSelectedOver {
    color:white; background-color:#0A246A;
    border-top:1px solid #0A246A;
    border-bottom:1px solid #0A246A;
}
.menuDisabled {
    color:#979797;
    background-color:white;
}   


.windowBackground,
.dialogBackground {
    border:1px solid;
    border-color: black;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.windowBody,
.dialogBody,
.promptBody {
}

.windowHeader,
.windowHeaderHilite,
.dialogHeader,
.dialogHeaderHilite {
    border-bottom:1px solid black;
}

.windowHeaderHilite,
.dialogHeaderHilite {
}
.windowHeaderText,
.dialogHeaderText,
.dialogStatusBarText {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    color:#0060BF;
    font-weight:bold;
    padding-left:2px;
    padding-right:2px;
}
.windowStatusBar,
.dialogStatusBar {
    font-family:Arial,Verdana,sans-serif; font-size:11px; color:black;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.windowStatusBar {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
}
.modalMask {
    background-color:black;
}



/*============================================================
  Layout
============================================================*/

.layoutDropLine {
    background-color:#DDDDFF;
}
.layoutPlaceHolder {
    border:1px solid black;
}

.splitbar {
    background-color:#FFFFFF;
}
.splitbarDown {
	border:1px solid #C0C0C0;
    background-color:#FFFFFF;
}

/*============================================================
  TabSet and tab titles
============================================================*/

.tabSetContainer {
    font-family:Arial,Verdana,sans-serif; font-size:11px;    
    border: 1px solid #C0C3C7;
    background-color:#FFFFFF
}

.tabBarTop {
    padding-top:2px;
}

.tabBarLeft {
    padding-left:2px;
}

.tabBarRight {
    padding-right:2px;
}

.tabBarBottom {
    padding-bottom:2px;
}

.tab,
.tabOver,
.tabSelected,
.tabSelectedOver,
.tabDown,
.tabSelectedDown,
.tabSelectedDisabled,
.tabDisabled {
    font-family:Verdana,Bitstream Vera Sans, sans-serif; font-size:11px;
}
.tabSelectedDisabled,
.tabDisabled {
    color:#666666;
}

.tabTitle,
.tabTitleDown,
.tabTitleOver,
.tabTitleDisabled,
.tabTitleSelected,
.tabTitleSelectedDown,
.tabTitleSelectedOver,
.tabTitleSelectedDisabled,
.vtabTitle,
.vtabTitleSelected,
.vtabTitleOver,
.vtabTitleDown,
.vtabTitleSelectedOver,
.vtabTitleSelectedDown,
.vtabTitleDisabled,
.vtabTitleSelectedDisabled {
    color: #29333c;
    font-family:Arial,Verdana,sans-serif; font-size:11px;
    padding-bottom:4px;
}
.tabTitleOver,
.vtabTitleOver {
    color:#29333c;
}

.tabTitleSelected,
.vtabTitleSelected {
	color:#FFF;
    padding-bottom:4px;
}

.tabTitleSelectedOver,
.vtabTitleSelectedOver {
	color:#353f46;
    padding-bottom:4px;
}

.tabTitleDisabled,
.tabTitleSelectedDisabled,
.vtabTitleDisabled,
.vtabTitleSelectedDisabled {
    color: #AAAAAA;
    padding-bottom:2px;
}

/*============================================================
  SectionStack
============================================================*/

.sectionStack {
    border-left:1px solid #A6ABB4;
    border-right:1px solid #A6ABB4;
    border-bottom:1px solid #A6ABB4;
}

/* SectionStack headers - css based */
.sectionHeaderopened, 
.sectionHeaderclosed,
.sectionHeaderDisabledopened,
.sectionHeaderDisabledclosed {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    padding-left:3px;
    border-bottom:1px solid white;
    border-top:1px solid #808080;
    color: #ffffff;
    background-color:#005cb8;
}

.sectionHeaderopened,
.sectionHeaderDisabledopened {
    border-bottom:1px solid #808080;
}

.sectionHeaderDisabledopened,
.sectionHeaderDisabledclosed {
	color:#c8c8c8;
}

.navToolbar {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    border-top: 1px solid #004285;
    border-bottom: 1px solid #004285;
    color: #005cb8;
    background-color: #ffffff;
}

.navBarHeader,
.navButton,
.navButtonOver,
.navButtonFocused,
.navButtonFocusedOver,
.navButtonDown,
.navButtonFocusedDown,
.navButtonSelected,
.navButtonSelectedFocused,
.navButtonSelectedDown,
.navButtonSelectedFocusedDown,
.navButtonSelectedOver,
.navButtonSelectedFocusedOver,
.navButtonDisabled,
.navButtonSelectedDisabled,
.navBackButton,
.navBackButtonOver,
.navBackButtonFocused,
.navBackButtonFocusedOver,
.navBackButtonDown,
.navBackButtonFocusedDown,
.navBackButtonSelected,
.navBackButtonSelectedFocused,
.navBackButtonSelectedDown,
.navBackButtonSelectedFocusedDown,
.navBackButtonSelectedOver,
.navBackButtonSelectedFocusedOver,
.navBackButtonDisabled,
.navBackButtonSelectedDisabled,
.navForwardButton,
.navForwardButtonOver,
.navForwardButtonFocused,
.navForwardButtonFocusedOver,
.navForwardButtonDown,
.navForwardButtonFocusedDown,
.navForwardButtonSelected,
.navForwardButtonSelectedFocused,
.navForwardButtonSelectedDown,
.navForwardButtonSelectedFocusedDown,
.navForwardButtonSelectedOver,
.navForwardButtonSelectedFocusedOver,
.navForwardButtonDisabled,
.navForwardButtonSelectedDisabled {
    padding: 0px 10px 0px 10px !important; /* !important to override the cellpadding attribute */
    font-family: Verdana,Bitstream Vera Sans,sans-serif;
    font-size: 15px;
    line-height: 23px;
}

.navButtonDown,
.navButtonFocusedDown,
.navButtonSelectedDown,
.navButtonSelectedFocusedDown,
.navBackButtonDown,
.navBackButtonFocusedDown,
.navBackButtonSelectedDown,
.navBackButtonSelectedFocusedDown,
.navForwardButtonDown,
.navForwardButtonFocusedDown,
.navForwardButtonSelectedDown,
.navForwardButtonSelectedFocusedDown {
    /* no Down styling */
}

.navBarHeader {
    font-weight: bold;
}

.navBackButton,
.navBackButtonOver,
.navBackButtonFocused,
.navBackButtonFocusedOver,
.navBackButtonDown,
.navBackButtonFocusedDown,
.navBackButtonSelected,
.navBackButtonSelectedFocused,
.navBackButtonSelectedDown,
.navBackButtonSelectedFocusedDown,
.navBackButtonSelectedOver,
.navBackButtonSelectedFocusedOver,
.navBackButtonDisabled,
.navBackButtonSelectedDisabled {
    padding-left: 7px !important;
    padding-right: 5px !important;
}

.navForwardButton,
.navForwardButtonOver,
.navForwardButtonFocused,
.navForwardButtonFocusedOver,
.navForwardButtonDown,
.navForwardButtonFocusedDown,
.navForwardButtonSelected,
.navForwardButtonSelectedFocused,
.navForwardButtonSelectedDown,
.navForwardButtonSelectedFocusedDown,
.navForwardButtonSelectedOver,
.navForwardButtonSelectedFocusedOver,
.navForwardButtonDisabled,
.navForwardButtonSelectedDisabled {
    padding-left: 5px !important;
    padding-right: 10px !important;
}

/*============================================================
  Forms
============================================================*/

/* general form styles */
.formRow {}
.formCell,
.formCellFocused,
.formCellDisabled,
.nestedFormContainer,
.nestedFormContainerFocused,
.nestedFormContainerDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
}
.formTitle,
.formTitleFocused,
.formTitleDisabled,
.formCellError,
.formTitleError,
.formHint,
.formHintDisabled,
.headerItem,
.headerItemDisabled,
.headerItemError,
.nativeSelectItem,
.nativeSelectItemDisabled,
.nativeSelectItemError,
.staticTextItem,
.staticTextItemDisabled,
.staticTextItemError,
.textItem,
.textItemFocused,
.textItemDisabled,
.textItemDisabledHint,
.textItemError,
.textItemHint,
.uploadItem,
.uploadItemFocused,
.uploadItemDisabled,
.uploadItemDisabledHint,
.uploadItemError,
.uploadItemHint,
.selectItemControl,
.selectItemControlError,
.selectItemControlFocused,
.selectItemText,
.selectItemTextError,
.selectItemTextDisabled,
.selectItemTextFocused,
.selectItemTextHint,
.selectItemTextDisabledHint,
.comboBoxItem,
.comboBoxItemFocused,
.comboBoxItemError,
.comboBoxItemDisabled ,
.comboBoxItemPendingText,
.pickListCell,
.pickListCellSelected,
.pickListCellDisabled,
.pickListCellDark,
.pickListCellSelectedDark,
.pickListCellDisabledDark,
.tallPickListCell,
.tallPickListCellSelected,
.tallPickListCellDisabled,
.tallPickListCellDark,
.tallPickListCellSelectedDark,
.tallPickListCellDisabledDark,
.labelAnchor,
.labelAnchorDisabled,
.labelAnchorError,
.labelAnchorFocused {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
}

.formTitle,
.formTitleFocused  {
    color:#003168;
}

.formCellError,
.formTitleError {
    font-weight:bold; color:#204268;
}
.formHint,
.formHintDisabled {
    color:#455668; padding:3px;
}

/* headerItem */
.headerItem,
.headerItemDisabled,
.headerItemError {
    font-size:14px; font-weight:bold; color:#3E74B3;
}	

/* text items */
.textItem,
.textItemFocused,
.textItemDisabled,
.textItemDisabledHint,
.textItemError,
.textItemHint,
.selectItemText,
.selectItemTextError,
.selectItemTextFocused,
.selectItemTextDisabled,
.selectItemTextHint,
.selectItemTextDisabledHint,
.comboBoxItemPendingText {
    background:#FFFFFF;
    padding:2px;
    border:1px solid #bfbfbf;
    border-radius: 0px;
}
.uploadItem,
.uploadItemFocused,
.uploadItemDisabled,
.uploadItemDisabledHint,
.uploadItemError,
.uploadItemHint {
    margin:0;
    border:0;
    padding:0;
    background:#FFFFFF;
}
.selectItemText,
.selectItemTextError,
.selectItemTextFocused,
.selectItemTextDisabled,
.selectItemTextHint,
.selectItemTextDisabledHint,
.comboBoxItemPendingText {
    border-right: 0;
}
.textItemDisabled,
.textItemDisabledHint,
.uploadItemDisabled,
.uploadItemDisabledHint,
.selectItemTextDisabled,
.selectItemTextDisabledHint,
.pickerSearchBoxDisabled,
.pickerSearchBoxDisabledHint,
.nativeSelectItemDisabled,
.staticTextItemDisabled {
    color:#ACA899;
}

.textItemHint,
.uploadItemHint,
.selectItemTextHint {
    color:darkGray;
}

.textItem {
    border-top:1px solid #abadb3;
    border-left:1px solid #dbdfe5;
    border-right:1px solid #dbdfe5;
    border-bottom:1px solid #dbdfe5;
}

.comboBoxItemPendingText {
    color:#0066CC;
}

/* selectItem */
.selectItemTextFocused {
    color:black;
    -moz-outline-offset:-1;
    border:1px solid #5678ac;
}

.textItemFocused,
.selectItemTextFocused {
    color:black;
    -moz-outline-offset:-1;
	border-top:1px solid #5678ac;
    border-left:1px solid #bccde6;
	border-right:1px solid #afc6e2;
	border-bottom:1px solid #c0d7ec;
}

.selectItemText,
.selectItemTextError,
.selectItemTextFocused,
.selectItemTextDisabled,
.selectItemTextHint,
.selectItemTextDisabledHint {
    border-right:0px none;
}

.selectItemPickerIcon,
.selectItemPickerIconFocused,
.selectItemPickerIconDisabled,
.selectItemPickerIconError {
    padding:0px;
}

.pickListMenuBody {
    border:1px solid black;
}

.pickListCell,
.pickListCellDark,
.tallPickListCell,
.tallPickListCellDark {
	color:black; background-color:#FFFFFF;
}
.pickListCellSelected,
.pickListCellSelectedDark {
    color:white;
    background-color:#316AC5;
}
.tallPickListCellSelected,
.tallPickListCellSelectedDark {
    color:black;
    background:#B2DFEE;
}
.pickListCellDisabled,
.tallPickListCellDisabled,
.pickListCellDisabledDark,
.tallPickListCellDisabledDark {
	color:#595959;
	background-color:#C0C0C0;
}

.pickListCellOver,
.pickListCellSelectedOver,
.pickListCellOverDark,
.pickListCellSelectedOverDark,
.tallPickListCellOver,
.tallPickListCellSelectedOver,
.tallPickListCellOverDark,
.tallPickListCellSelectedOverDark {
  background-color: #316AC5;
  color: #fff;
  font-family: Verdana,Bitstream Vera Sans,sans-serif;
  font-size: 11px;
}

/* checkbox and radioButton */
.labelAnchor,
.labelAnchorDisabled,
.labelAnchorError,
.labelAnchorFocused  {
    text-decoration:none;
}

/* FilterBuilder */
.bracketBorders {
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;    
}

/* ColorChooser */
.colorChooserCell {
    background-color:#EFEFEF;
    border-left:1px solid #EFEFEF;
    border-top:1px solid #EFEFEF;
    border-right:1px solid #EFEFEF;
    border-bottom:1px solid #EFEFEF;
}
.colorChooserCellOver {
    background-color:#EFEFEF; 
    border-left:1px solid black;
    border-top:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
}

/*============================================================
     DateChooser
============================================================*/

/* Defaults for all days and controls */
.dateChooserButton,
.dateChooserButtonOver,
.dateChooserButtonDown,
.dateChooserButtonDisabled,
.dateChooserButtonSelected,
.dateChooserButtonSelectedDown,
.dateChooserButtonSelectedOver,
.dateChooserButtonSelectedDisabled,
.dateChooserWeekendButton,
.dateChooserWeekendButtonOver,
.dateChooserWeekendButtonDown,
.dateChooserWeekendButtonDisabled,
.dateChooserWeekendButtonSelected,
.dateChooserWeekendButtonSelectedDown,
.dateChooserWeekendButtonSelectedOver,
.dateChooserWeekendButtonSelectedDisabled,
.dateChooserBottomButton,
.dateChooserBottomButtonOver,
.dateChooserBottomButtonDown,
.dateChooserBottomButtonSelected,
.dateChooserBottomButtonSelectedOver,
.dateChooserBottomButtonSelectedDown,
.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown,
.dateChooserWeekday,
.dateChooserWeekdayOver,
.dateChooserWeekdayDown,
.dateChooserWeekdaySelected,
.dateChooserWeekdaySelectedOver,
.dateChooserWeekdaySelectedDown,
.dateChooserWeekdayDisabled,
.dateChooserWeekend,
.dateChooserWeekendOver,
.dateChooserWeekendDown,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedOver,
.dateChooserWeekendSelectedDown,
.dateChooserWeekendSelectedDisabled,
.dateChooserWeekendDisabled,
.dateChooserDisabledWeekday,
.dateChooserDisabledWeekdayOver,
.dateChooserDisabledWeekdayDown,
.dateChooserDisabledWeekdaySelected,
.dateChooserDisabledWeekdaySelectedDown,
.dateChooserDisabledWeekdaySelectedOver,
.dateChooserDisabledWeekend,
.dateChooserDisabledWeekendOver,
.dateChooserDisabledWeekendDown,
.dateChooserDisabledWeekendSelected,
.dateChooserDisabledWeekendSelectedDown,
.dateChooserDisabledWeekendSelectedOver,
.dateChooserSelectedWeek,
.dateChooserSelectedWeekOver,
.dateChooserSelectedWeekDown,
.dateChooserSelectedWeekDisabled,
.dateChooserSelectedWeekSelected,
.dateChooserSelectedWeekSelectedDown,
.dateChooserSelectedWeekSelectedOver,
.dateChooserSelectedWeekSelectedDisabled,
.dateChooserFiscalYearCell,
.dateChooserFiscalYearCellOver,
.dateChooserFiscalYearCellDown,
.dateChooserFiscalYearCellDisabled,
.dateChooserFiscalYearCellSelected,
.dateChooserFiscalYearCellSelectedDown,
.dateChooserFiscalYearCellSelectedOver,
.dateChooserFiscalYearCellSelectedDisabled,
.dateChooserWeekCell,
.dateChooserWeekCellOver,
.dateChooserWeekCellDown,
.dateChooserWeekCellDisabled,
.dateChooserWeekCellSelected,
.dateChooserWeekCellSelectedDown,
.dateChooserWeekCellSelectedOver,
.dateChooserWeekCellSelectedDisabled {
    font-family:Arial,Verdana,sans-serif; font-size:11px;
    background-color:#FFFFFF;
    border:2px solid white;
    color:#868686;
}

/* year/month buttons */
.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown {
    padding:0px;
    border-top:0px none;
    border-bottom:1px solid #868686;
}

/* for all buttons, plus weekday headers (dateChooserButton) */
.dateChooserButton,
.dateChooserButtonOver,
.dateChooserButtonDown,
.dateChooserButtonSelected,
.dateChooserButtonSelectedOver,
.dateChooserButtonSelectedDown,
.dateChooserWeekendButton,
.dateChooserWeekendButtonOver,
.dateChooserWeekendButtonDown,
.dateChooserWeekendButtonSelected,
.dateChooserWeekendButtonSelectedOver,
.dateChooserWeekendButtonSelectedDown,
.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown {
    font-weight:bold;
	color:#4C4C4C;
}

.dateChooserButtonOver,
.dateChooserButtonDown {
	cursor:pointer;
	color:#467DCD;
}

.dateChooserWeekendButton,
.dateChooserWeekendButtonOver,
.dateChooserWeekendButtonDown,
.dateChooserWeekendButtonSelected,
.dateChooserWeekendButtonSelectedOver,
.dateChooserWeekendButtonSelectedDown {
    background-color:#fff1a8;
    border:2px solid #fff1a8;
}

.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown {
    cursor:pointer;
    padding:2px;
}

.dateChooserNavButtonOver,
.dateChooserNavButtonDown {
    color:#467DCD;
}

/* Today, Cancel buttons */
.dateChooserBottomButton,
.dateChooserBottomButtonOver,
.dateChooserBottomButtonDown {
    cursor:pointer;
    font-weight:bold;
	color:#4C4C4C;
    border-left:1px solid #ACB1B9;
    border-top:1px solid #ACB1B9;
}
.dateChooserBottomButtonOver {
    color:#467DCD;
}


/* weekday and weekend cells */
.dateChooserWeekday,
.dateChooserWeekdayOver,
.dateChooserWeekdayDown,
.dateChooserWeekdaySelected,
.dateChooserWeekdaySelectedOver,
.dateChooserWeekdaySelectedDown,
.dateChooserWeekdayDisabled,
.dateChooserWeekend,
.dateChooserWeekendOver,
.dateChooserWeekendDown,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedOver,
.dateChooserWeekendSelectedDown,
.dateChooserWeekendDisabled {
    cursor:pointer;
    color:black;
    border:2px solid white;
    background-color:white;
}

.dateChooserDisabledWeekday,
.dateChooserDisabledWeekdayOver,
.dateChooserWeekdayDisabled,
.dateChooserWeekendDisabled {
    background-color:white;
	color:#C0C3CA;
}

.dateChooserWeekend,
.dateChooserWeekendOver,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedDisabled,
.dateChooserWeekendDisabled,
.dateChooserDisabledWeekend,
.dateChooserDisabledWeekendOver,
.dateChooserDisabledWeekendDown  {
    border:2px solid #fff1a8;
    background-color:#fff1a8;
}

.dateChooserWeekdayOver,
.dateChooserWeekendOver {
	border:2px solid #ffeb90;
}

/* selected/over date-cell styling */
.dateChooserWeekdaySelected,
.dateChooserWeekdaySelectedOver,
.dateChooserWeekdayDown,
.dateChooserWeekdaySelectedDown,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedOver,
.dateChooserWeekendDown,
.dateChooserWeekendSelectedDown ,
/* disabled selected/over date-cells */
.dateChooserDisabledWeekdayDown,
.dateChooserDisabledWeekdaySelected,
.dateChooserDisabledWeekdaySelectedDown,
.dateChooserDisabledWeekdaySelectedOver,
.dateChooserDisabledWeekendDown,
.dateChooserDisabledWeekendSelected,
.dateChooserDisabledWeekendSelectedOver,
.dateChooserDisabledWeekendSelectedDown {
	font-weight:bold;
	color:#4C4C4C;
    border:2px solid #ffdd2e;
    background-color:#ffdd2e;
}

.dateChooserWeekdayDown,
.dateChooserWeekendDown {
	font-weight:normal;
}

/* year and month pop-up menus */
.dateChooserYearMenu,
.dateChooserMonthMenu,
.dateChooserWeekMenu {
    background-color:#FFFFFF;    
}

/*============================================================
  Slider & Rangebar
============================================================*/

/* slider and rangebar labels */
.sliderTitle,
.sliderRange,
.sliderRangeDisabled,
.sliderValue,
.sliderValueDisabled,
.rangebarTitle,
.rangebarRange,
.rangebarValue {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:10px;
}
.sliderRangeDisabled,
.sliderValueDisabled {
    color:#ACA899;
}
.sliderTitle,
.rangebarTitle {
    font-weight:bold;
}
.sliderRange,
.rangebarRange {
    color:gray;
}

/*============================================================
  DetailViewer
============================================================*/
.detailBlock {
    border-left:1px solid gray;
    border-top:1px solid gray;
}

.detail,
.detailLabel,
.detailHeader {
    border-right:1px solid gray;
    border-bottom:1px solid gray;
}

.detail,
.detailLabel,
.detailHeader {
    font-family:Bitstream Vera Sans, sans-serif; font-size:11px; background-color:white;
}

.detailLabel {
    font-weight:bold;
    background-color:#EEEEEE;
    text-align:right;
}

.detailHeader {
    font-size:14px; font-weight:bold;
    background-color:#BBDAFA;
}

/*============================================================
  ListGrid
============================================================*/

/*============================================================
	ListGrid parts
		styleName - listGrid
		headerBarStyle - headerBar
		bodyStyleName - gridBody
============================================================*/

.listGrid {
    border: 1px solid #A7ABB4;
}
.loadingDataMessage,
.offlineMessage,
.emptyMessage {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; padding:10px;
}
.gridDragTracker {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    background-color:white;
    padding:1px;
    border:1px dotted blue;
}
.dragLine {
    border-top:2px dotted #548ACA;
    pointer-events: none;
}
.dragLineVertical {
    border-right:2px dotted #548ACA;
    pointer-events: none;
}

.listTable {}
/* for filterEditor */
.recordEditorCell {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px; color:black;
    background-color:#f4f4f4;
}


/*============================================================
	ListGrid cells
		listGrid.baseStyle
============================================================*/

/*------------------------------------------------------------
		listGrid.baseStyle
------------------------------------------------------------*/
.cell,
.cellDark,
.cellOver,
.cellOverDark,
.cellSelected,
.cellSelectedDark,
.cellSelectedOver,
.cellSelectedOverDark,
.cellDisabled,
.cellDisabledDark,
.tallCell,
.tallCellDark,
.tallCellOver,
.tallCellOverDark,
.tallCellSelected,
.tallCellSelectedDark,
.tallCellSelectedOver,
.tallCellSelectedOverDark,
.tallCellDisabled,
.tallCellDisabledDark,
.groupSummaryCell,
.groupSummaryCellDisabled,
.gridSummaryCell,
.gridSummaryCellDisabled,
.recordSummaryCell,
.recordSummaryCellDark,
.recordSummaryCellOver,
.recordSummaryCellOverDark,
.recordSummaryCellSelected,
.recordSummaryCellSelectedDark,
.recordSummaryCellSelectedOver,
.recordSummaryCellSelectedOverDark,
.recordSummaryCellDisabled,
.recordSummaryCellDisabledDark,
.expansionCellCell,
.expansionCellCellDark,
.expansionCellCellOver,
.expansionCellCellOverDark,
.expansionCellCellSelected,
.expansionCellCellSelectedDark,
.expansionCellCellSelectedOver,
.expansionCellCellSelectedOverDark,
.expansionCellCellDisabled,
.expansionCellCellDisabledDark,
.specialCol,
.specialColOver,
.specialColSelected,
.specialColSelectedOver,
.specialColDisabled,
.groupNode {
	font-family:Arial,Verdana,sans-serif; font-size:11px; text-overflow:ellipsis;
	color:black;
    border-bottom:1px solid;
    border-bottom-color: #e2e2e2;
}

.specialCol {
	font-family:Arial,Verdana,sans-serif; font-size:11px; text-overflow:ellipsis;
	color:black;
    background-color:#f7f7f7;
}

.tallCell,
.tallCellDark,
.tallCellOver,
.tallCellOverDark,
.tallCellSelected,
.tallCellSelectedDark,
.tallCellSelectedOver,
.tallCellSelectedOverDark,
.tallCellDisabled,
.tallCellDisabledDark {

 }
.cellDark,
.recordSummaryCell,
.recordSummaryCellDark {
    background-color:#f7f7f7;
}
.groupSummaryCell,
.groupSummaryCellDisabled,
.gridSummaryCell,
.gridSummaryCellDisabled {
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    background-color:#ececec;
}

.gridSummaryCell,
.gridSummaryCellDisabled {
    border-top-width:0px;
    border-bottom-width:0px;
}

.summaryRowBody {
    background-color:#ececec;
}

.tallCellDark {
	background-color:#f7f7f7;
}
.cellOver,
.cellOverDark,
.specialColOver,
.recordSummaryCellOver,
.recordSummaryCellOverDark {
    background-color:#fff1a8;
}

.tallCellOver,
.tallCellOverDark {
	background-color:#fff1a8;
}

.cellSelected,
.cellSelectedDark,
.specialColSelected,
.recordSummaryCellSelected,
.recordSummaryCellSelectedDark {
    background:#ffeb90;
}
.tallCellSelected,
.tallCellSelectedDark {
    background:#ffeb90;
}
.cellSelectedOver,
.cellSelectedOverDark,
.specialColSelectedOver,
.recordSummaryCellSelectedOver,
.recordSummaryCellSelectedOverDark {
    background:#ffeb90;
}
.tallCellSelectedOver,
.tallCellSelectedOverDark {
	background-color:#ffeb90;
}

.groupSummaryCell, 
.groupSummaryCellDisabled,
.gridSummaryCell,
.gridSummaryCellDisabled {
    font-weight:bold;
}

.cellDisabled,
.cellDisabledDark,
.specialColDisabled,
.tallCellDisabled,
.tallCellDisabledDark,
.groupSummaryCellDisabled,
.gridSummaryCellDisabled,
.specialColDisabled,
.recordSummaryCellDisabled,
.recordSummaryCellDisabledDark {
	color:#AAAAAA;
	background-color:#FFFFFF;
}

.groupNode {
    font-weight:bold;
    font-family:Tahoma,Verdana,sans-serif;
	color:#3764a3;
    border-bottom: 1px solid #8299b8;
}

/*Tree styling*/
/*------------------------------------------------------------
		treeGrid.baseStyle
------------------------------------------------------------*/
.treeCell,
.treeCellDark,
.treeCellOver,
.treeCellOverDark,
.treeCellSelected,
.treeCellSelectedDark,
.treeCellSelectedOver,
.treeCellSelectedOverDark,
.treeCellDisabled,
.treeCellDisabledDark,
.treeTallCell,
.treeTallCellDark,
.treeTallCellOver,
.treeTallCellOverDark,
.treeTallCellSelected,
.treeTallCellSelectedDark,
.treeTallCellSelectedOver,
.treeTallCellSelectedOverDark,
.treeTallCellDisabled,
.treeTallCellDisabledDark {
	font-family:Arial,Verdana,sans-serif; font-size:11px; text-overflow:ellipsis;
	color:black;
}

.treeTallCell,
.treeTallCellDark,
.treeTallCellOver,
.treeTallCellOverDark,
.treeTallCellSelected,
.treeTallCellSelectedDark,
.treeTallCellSelectedOver,
.treeTallCellSelectedOverDark,
.treeTallCellDisabled,
.treeTallCellDisabledDark {

 }

.treeCellDark,
.treeTallCellDark {
	background-color:#f7f7f7;
}
.treeCellOver,
.treeCellOverDark {
    background:#fff1a8;
}
.treeTallCellOver,
.treeTallCellOverDark {
	background-color:#ffeb90;
}
.treeCellSelected,
.treeCellSelectedDark {
    background:#ffeb90;

}
.treeTallCellSelected,
.treeTallCellSelectedDark {
	background-color:#ffeb90;
}
.treeCellSelectedOver,
.treeCellSelectedOverDark {
    background:#ffeb90;
}
.treeTallCellSelectedOver,
.treeTallCellSelectedOverDark {
	background-color:#ffeb90;
}


.treeCellDisabled,
.treeCellDisabledDark,
.treeTallCellDisabled,
.treeTallCellDisabledDark {
	color:#AAAAAA;
	background-color:#FFFFFF;
}

/* Field builders (Formula/Summary) */
.sampleOutput {
    border: 2px solid #D9D9D9;
    padding: 3px;
}

/* Multi-sort - sort-index appearing next to sort-arrows in field headers */
.sortNumeral {
    font-size:7px;
}


/*============================================================
	12) ToolStrip
============================================================*/
.toolStrip {
    border: 1px solid #868686;
    background: #f6f6f6;
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
}

.toolStripLayoutDropLine {
    background-color:#404040;
}

.toolbarButton,
.toolbarButtonOver,
.toolbarButtonDown,
.toolbarButtonDisabled,
.toolbarButtonSelected,
.toolbarButtonSelectedDown,
.toolbarButtonSelectedOver,
.toolbarButtonSelectedDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    padding:5px;
    color:#000000;
}

.toolbarButton {
}
.toolbarButtonOver {
    color:#0060BF;
}
.toolbarButtonDown {
    color:#0060BF;
}

.toolbarButtonDisabled {
    color:#CCCCCC;
}
.toolbarButtonSelected,
.toolbarButtonSelectedDown,
.toolbarButtonSelectedOver,
.toolbarButtonSelectedDisabled {
    font-size:11px;
    font-weight:bold;
    color:#0060BF;
}
.toolbarButtonSelectedOver {

}
.toolbarButtonSelectedDisabled {
    font-size:11px;
    color:#666666;
}

/*============================================================
   12a) ToolStripGroup and IconButton
==============================================================*/
.toolStripGroup,
.toolStripGroupOver,
.toolStripGroupSelected,
.toolStripGroupSelectedDisabled,
.toolStripGroupSelectedOver,
.toolStripGroupDown,
.toolStripGroupSelectedDown,
.toolStripGroupDisabled {
    background:#000000 url(./images/shared/background.gif) repeat-x bottom left scroll;
    border: 1px solid #868686;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 2px;
}

.toolStripGroupTitle,
.toolStripGroupTitleOver,
.toolStripGroupTitleSelected,
.toolStripGroupTitleSelectedDisabled,
.toolStripGroupTitleSelectedOver,
.toolStripGroupTitleDown,
.toolStripGroupTitleSelectedDown,
.toolStripGroupTitleDisabled {
    background: #DDDDDD;
    border: 0;
    color: #333;
    font-family: Arial, Verdana, Bitstream Vera Sans, sans-serif; 
    font-size: 11px; 
    font-weight: bold;
    padding: 3px;
}

.iconButton,
.iconButtonOver,
.iconButtonFocused,
.iconButtonFocusedOver,
.iconButtonDown,
.iconButtonFocusedDown,
.iconButtonSelected,
.iconButtonSelectedFocused,
.iconButtonSelectedDown,
.iconButtonSelectedFocusedDown,
.iconButtonSelectedOver,
.iconButtonSelectedFocusedOver,
.iconButtonDisabled,
.iconButtonSelectedDisabled {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #000000;
    font-family: Arial, Verdana, Bitstream Vera Sans, sans-serif; 
    font-size:11px;
    padding: 4px;
}

.iconButtonOver,
.iconButtonDown,
.iconButtonSelected,
.iconButtonSelectedOver,
.iconButtonFocusedOver,
.iconButtonSelectedFocusedOver {
    background: #D5D5D5;
    background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #cccccc 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #cccccc 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #cccccc 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 );
    background: linear-gradient(to bottom, #cccccc, #ffffff);
    border: 1px solid #868686;
    color: #000000;
}

.iconButtonSelected,
.iconButtonSelectedFocused,
.iconButtonSelectedDown,
.iconButtonSelectedFocusedDown,
.iconButtonSelectedFocusedOver {
    background-color: #e5e5e5;
}

.iconButtonDisabled {
    color: #AAAAAA;
}

/* IconButton icon and menuIcon styles - used for spacing top and bottom of the title in v-buttons */
.iconButtonHIcon {
    vertical-align:middle;
}
.iconButtonHMenuIcon {
    vertical-align:middle; 
    border:1px solid transparent; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    border-radius: 3px;
}

.iconButtonVIcon {
    vertical-align:middle;
    margin-bottom: 5px;
}
.iconButtonVMenuIcon {
    vertical-align:middle; 
    border:1px solid transparent; 
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    border-radius: 3px;
    margin-top: 4px;
}

/*============================================================
  Tools
============================================================*/
.resizeThumb {
    background-color:#009999;
}

/*============================================================
  TileGrid
==============================================================*/

.tileGrid {
    border:1px solid #808080;
}
.tileValue,
.tileValueDown,
.tileValueSelected,
.tileValueOver,
.tileValueSelectedOver,
.tileValueSelectedDown {
    font-size: 8pt; 
    text-overflow:ellipsis;   
}

.tileValueSelected {
    color: black;
}

.tileValueSelectedOver {
    color: black;
}

.simpleTile, 
.simpleTileOver,
.simpleTileSelected,
.simpleTileSelectedOver {
    padding:3px    
}

.simpleTile {
    border:3px solid transparent;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;    
    padding:3px;
}
.simpleTileOver {
      padding:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border:3px solid #165fa7;
    opacity: 0.9;    
}

.simpleTileSelected {
    border : 3px solid #ff7e14;
    opacity: 0.9;
      padding:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.simpleTileSelectedOver {
    border : 3px solid #ff7e14;
      padding:3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;    
}


/*============================================================
	15) Scrollbars
============================================================*/
.vScrollThumb {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #f5f5f5), color-stop(50%, #e9e8e8), color-stop(50%, #dad7d7), color-stop(82%, #cecaca), color-stop(100%, #c4c0c0));
  background-image: -webkit-linear-gradient(left, #f5f5f5 0%, #e9e8e8 50%, #dad7d7 50%, #cecaca 82%, #c4c0c0 100%);
  background-image: -moz-linear-gradient(left, #f5f5f5 0%, #e9e8e8 50%, #dad7d7 50%, #cecaca 82%, #c4c0c0 100%);
  background-image: -o-linear-gradient(left, #f5f5f5 0%, #e9e8e8 50%, #dad7d7 50%, #cecaca 82%, #c4c0c0 100%);
  background-image: -ms-linear-gradient(left, #f5f5f5 0%, #e9e8e8 50%, #dad7d7 50%, #cecaca 82%, #c4c0c0 100%);
  background-image: linear-gradient(to right, #f5f5f5 0%, #e9e8e8 50%, #dad7d7 50%, #cecaca 82%, #c4c0c0 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#f5f5f5', endColorstr='#c4c0c0');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#f5f5f5', endColorstr='#c4c0c0')";
  border: 1px solid #969696;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset -1px -1px 0 0 #dcdada, inset 0 1px 0 0 #ededed;
  -webkit-box-shadow: inset -1px -1px 0 0 #dcdada, inset 0 1px 0 0 #ededed;
  box-shadow: inset -1px -1px 0 0 #dcdada, inset 0 1px 0 0 #ededed;
  margin-right: 1px;
}

.vScrollThumbOver {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #e3f4fc), color-stop(20%, #d5eefb), color-stop(50%, #d5eefb), color-stop(50%, #a7daf6), color-stop(80%, #a7daf6), color-stop(90%, #a4d5ef), color-stop(100%, #9ccae2));
  background-image: -webkit-linear-gradient(left, #e3f4fc 0%, #d5eefb 20%, #d5eefb 50%, #a7daf6 50%, #a7daf6 80%, #a4d5ef 90%, #9ccae2 100%);
  background-image: -moz-linear-gradient(left, #e3f4fc 0%, #d5eefb 20%, #d5eefb 50%, #a7daf6 50%, #a7daf6 80%, #a4d5ef 90%, #9ccae2 100%);
  background-image: -o-linear-gradient(left, #e3f4fc 0%, #d5eefb 20%, #d5eefb 50%, #a7daf6 50%, #a7daf6 80%, #a4d5ef 90%, #9ccae2 100%);
  background-image: -ms-linear-gradient(left, #e3f4fc 0%, #d5eefb 20%, #d5eefb 50%, #a7daf6 50%, #a7daf6 80%, #a4d5ef 90%, #9ccae2 100%);
  background-image: linear-gradient(to right, #e3f4fc 0%, #d5eefb 20%, #d5eefb 50%, #a7daf6 50%, #a7daf6 80%, #a4d5ef 90%, #9ccae2 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#e3f4fc', endColorstr='#9ccae2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#e3f4fc', endColorstr='#9ccae2')";
  border: 1px solid #3c7daf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset -1px -1px 0 0 #dcdee0, inset 1px 1px 0 0 white;
  -webkit-box-shadow: inset -1px -1px 0 0 #dcdee0, inset 1px 1px 0 0 white;
  box-shadow: inset -1px -1px 0 0 #dcdee0, inset 1px 1px 0 0 white;
  margin-right: 1px;
}

.hScrollThumb {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(50%, #e9e8e8), color-stop(50%, #dad7d7), color-stop(82%, #cecaca), color-stop(100%, #c4c0c0));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e9e8e8 50%, #dad7d7 50%, #cecaca 82%, #c4c0c0 100%);
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e9e8e8 50%, #dad7d7 50%, #cecaca 82%, #c4c0c0 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e9e8e8 50%, #dad7d7 50%, #cecaca 82%, #c4c0c0 100%);
  background-image: -ms-linear-gradient(top, #f5f5f5 0%, #e9e8e8 50%, #dad7d7 50%, #cecaca 82%, #c4c0c0 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e9e8e8 50%, #dad7d7 50%, #cecaca 82%, #c4c0c0 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f5f5f5', endColorstr='#c4c0c0');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f5f5f5', endColorstr='#c4c0c0')";
  border: 1px solid #969696;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 1px -1px 0 0 #dcdada, inset 0 1px 0 1px #ededed;
  -webkit-box-shadow: inset 1px -1px 0 0 #dcdada, inset 0 1px 0 1px #ededed;
  box-shadow: inset 1px -1px 0 0 #dcdada, inset 0 1px 0 1px #ededed;
  margin-bottom: 1px;
}

.hScrollThumbOver {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3f4fc), color-stop(20%, #d5eefb), color-stop(50%, #d5eefb), color-stop(50%, #a7daf6), color-stop(80%, #a7daf6), color-stop(90%, #a4d5ef), color-stop(100%, #9ccae2));
  background-image: -webkit-linear-gradient(top, #e3f4fc 0%, #d5eefb 20%, #d5eefb 50%, #a7daf6 50%, #a7daf6 80%, #a4d5ef 90%, #9ccae2 100%);
  background-image: -moz-linear-gradient(top, #e3f4fc 0%, #d5eefb 20%, #d5eefb 50%, #a7daf6 50%, #a7daf6 80%, #a4d5ef 90%, #9ccae2 100%);
  background-image: -o-linear-gradient(top, #e3f4fc 0%, #d5eefb 20%, #d5eefb 50%, #a7daf6 50%, #a7daf6 80%, #a4d5ef 90%, #9ccae2 100%);
  background-image: -ms-linear-gradient(top, #e3f4fc 0%, #d5eefb 20%, #d5eefb 50%, #a7daf6 50%, #a7daf6 80%, #a4d5ef 90%, #9ccae2 100%);
  background-image: linear-gradient(to bottom, #e3f4fc 0%, #d5eefb 20%, #d5eefb 50%, #a7daf6 50%, #a7daf6 80%, #a4d5ef 90%, #9ccae2 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#e3f4fc', endColorstr='#9ccae2');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#e3f4fc', endColorstr='#9ccae2')";
  border: 1px solid #3c7daf;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 1px -1px 0 0 #dcdee0, inset -1px 1px 0 0 white;
  -webkit-box-shadow: inset 1px -1px 0 0 #dcdee0, inset -1px 1px 0 0 white;
  box-shadow: inset 1px -1px 0 0 #dcdee0, inset -1px 1px 0 0 white;
  margin-bottom: 1px;
}

/*============================================================
    Unused? Review & Remove
============================================================*/
.selectedText {
    color:white; background-color:darkblue;
}
.disabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#CCCCCC;
}
.pageHeader {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:12px; font-weight:bold; color:darkblue
}
.printPageHeader {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:14px; font-weight:bold; color:darkblue
}
.printCell {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:10px;
}

/*IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII

	Styles below this comment are not used by default in this skin

IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/



/*============================================================
    TabSet CSS tabs
		tabSet.simpleTabBaseStyle
============================================================*/
/* styles for simple css-styled tabs*/
/* left */
.tabButtonLeft,
.tabButtonLeftOver,
.tabButtonLeftSelected,
.tabButtonLeftSelectedOver,
.tabButtonLeftDown,
.tabButtonLeftSelectedDown,
.tabButtonLeftSelectedDisabled,
.tabButtonLeftDisabled {
    padding: 2px;
    border: 1px solid #C0C3C7;
    background: #e7e7e7;
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
}
.tabButtonLeftOver,
.tabButtonLeftSelected,
.tabButtonLeftSelectedOver {
    background: #ffffff;
}

.tabButtonLeftDown,
.tabButtonLeftSelectedDown {
    background: #ddd;
}

.tabButtonLeftSelectedDisabled,
.tabButtonLeftDisabled {
    background: #ddd;
}

/* right */                        
.tabButtonRight,
.tabButtonRightOver,
.tabButtonRightSelected,
.tabButtonRightSelectedOver,
.tabButtonRightDown,
.tabButtonRightSelectedDown,
.tabButtonRightSelectedDisabled,
.tabButtonRightDisabled {
    padding: 2px;
    border: 1px solid #C0C3C7;
    background: #e7e7e7;
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
}
.tabButtonRightOver,
.tabButtonRightSelected,
.tabButtonRightSelectedOver {
    background: #ffffff;
}

.tabButtonRightDown,
.tabButtonRightSelectedDown {
    background: #ddd;
}

.tabButtonRightSelectedDisabled,
.tabButtonRightDisabled {
    background: #ddd;
}

/* top */                        
.tabButtonTop,
.tabButtonTopOver,
.tabButtonTopSelected,
.tabButtonTopSelectedOver,
.tabButtonTopDown,
.tabButtonTopSelectedDown,
.tabButtonTopSelectedDisabled,
.tabButtonTopDisabled {
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    line-height:normal;
    padding: 2px;
    border: 1px solid #C0C3C7;
    border-bottom:none;
    background: #e7e7e7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
}
.tabButtonTopOver,
.tabButtonTopSelected,
.tabButtonTopSelectedOver {
    background: #ffffff;
}

.tabButtonTopSelected {
    border-bottom:none;
}

.tabButtonTopDown,
.tabButtonTopSelectedDown {
    background: #ddd;
}

.tabButtonTopSelectedDisabled,
.tabButtonTopDisabled {
    background: #ddd;
}

/* bottom */                        
.tabButtonBottom,
.tabButtonBottomOver,
.tabButtonBottomSelected,
.tabButtonBottomSelectedOver,
.tabButtonBottomDown,
.tabButtonBottomSelectedDown,
.tabButtonBottomSelectedDisabled,
.tabButtonBottomDisabled {
    padding: 2px;
    border: 1px solid #C0C3C7;
    background: #e7e7e7;
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
}
.tabButtonBottomOver,
.tabButtonBottomSelected,
.tabButtonBottomSelectedOver {
    background: #ffffff;
}

.tabButtonBottomDown,
.tabButtonBottomSelectedDown {
    background: #ddd;
}

.tabButtonBottomSelectedDisabled,
.tabButtonBottomDisabled {
    background: #ddd;
}


/*IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII

	Styles below this comment are used by optional modules only

IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/



/*============================================================
	CubeGrid - Analytics Module only
		cubeGrid.baseStyle - cubeCell
		headerGrid.baseStyle - rowHeader
		reportHeaderBar.button.baseStyle - rowHeader
		reportHeaderBar.button.baseStyle - innerHeader/colHeader
		reportHeaderBar.button.baseStyle - rowHeaderLabel
		reportHeaderBar.button.baseStyle - colHeaderLabel
============================================================*/
.cubeGridBody {}
.cubeCell {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black; text-overflow:ellipsis;
    background-color:#FFFFFF;
    border-top:1px solid white; border-bottom:1px solid #828282; 
    border-left:1px solid white; border-right:1px solid #828282;
}
.cubeCellDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black; text-overflow:ellipsis;
    background-color:#EEEEEE;
    border-top:1px solid #EEEEEE; border-bottom:1px solid #828282; 
    border-left:1px solid #EEEEEE; border-right:1px solid #828282;
}
.cubeCellDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#666666; text-overflow:ellipsis;
    background-color:#FFFFFF; 
    border-top:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF; 
    border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF;
}

/* partial styles */ 
.cubeCellOver {
    background-color:#B8D1EE;
    border-top:1px solid #B8D1EE; border-bottom:1px solid #828282; 
}
.cubeCellSelected {
    background-color:#FFE781;
    border-top:1px solid #FFE781; border-bottom:1px solid #828282; 
    border-left:1px solid #FFE781; border-right:1px solid #828282;
}
.cubeCellSelectedOver {
    background-color:#B8D1EE;
    border-top:1px solid #B8D1EE; border-bottom:1px solid #828282; 
    border-left:1px solid #B8D1EE; border-right:1px solid #828282;
}

/* row headers */
.rowHeader {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #FFFFFF; border-top:1px solid #FFFFFF;
    border-right:1px solid #264260; border-bottom:1px solid #264260;
    background-image:url("images/CubeGrid/rowHeader.gif");
}
.rowHeaderOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #264260; border-top:1px solid #264260;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/rowHeaderOver.gif");
}
.rowHeaderDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #264260; border-top:1px solid #264260;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/rowHeaderOver.gif");
}
.rowHeaderDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#808080;
    background-color:#6682A0;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
.rowHeaderSelected,
.rowHeaderSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#3E74B3;
    border-left:1px solid #00008B; border-top:1px solid #00008B;
    border-right:1px solid #F0F8FF; border-bottom:1px solid #F0F8FF;
    background-image:url("images/CubeGrid/rowHeaderSelected.gif");
    
}
.rowHeaderSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#3E74B3;
    border-top:1px solid white; border-bottom:1px solid white; 
    border-left:1px solid white; border-right:1px solid white;
    background-image:url("images/CubeGrid/rowHeaderSelectedOver.gif");
}						
.rowHeaderSelectedDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#808080;
    background-color:#3E74B3;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}

/* row label */
.rowHeaderLabel {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #FFFFFF; border-top:1px solid #FFFFFF;
    border-right:1px solid #000B3A; border-bottom:1px solid #000B3A;
    background-image:url("images/CubeGrid/rowHeaderLabel.gif");
}
.rowHeaderLabelOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #000B3A; border-top:1px solid #000B3A;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/rowHeaderLabel.gif");
}
.rowHeaderLabelDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #000B3A; border-top:1px solid #000B3A;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/rowHeaderLabelDown.gif");
}
.rowHeaderLabelDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:#808080;
    background-color:#7D7D7D;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
.rowHeaderLabelSelected,
.rowHeaderLabelSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-left:1px solid black; border-top:1px solid black;
    border-right:1px solid #555555; border-bottom:1px solid #555555;
    background-image:url("images/CubeGrid/rowHeaderDown.gif");
}
.rowHeaderLabelSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-top:1px solid white; border-bottom:1px solid white; 
    border-left:1px solid white; border-right:1px solid white;
    background-image:url("images/CubeGrid/rowHeaderDown.gif");
}						
.rowHeaderLabelSelectedDisabled	{
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:#808080;
    background-color:#7D7D7D;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
						
/* column headers */
.colHeader {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #FFFFFF; border-top:1px solid #FFFFFF;
    border-right:1px solid #264260; border-bottom:1px solid #264260;
    background-image:url("images/CubeGrid/colHeader.gif");
}
.colHeaderOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #264260; border-top:1px solid #264260;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/colHeaderOver.gif");
}
.colHeaderDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#6682A0;
    border-left:1px solid #264260; border-top:1px solid #264260;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/colHeader.gif");
}
.colHeaderDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#808080;
    background-color:#6682A0;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
.colHeaderSelected,
.colHeaderSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-left:1px solid #00008B; border-top:1px solid #00008B;
    border-right:1px solid #F0F8FF; border-bottom:1px solid #F0F8FF;
    background-image:url("images/CubeGrid/colHeaderSelected.gif");
}
.colHeaderSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-top:1px solid white; border-bottom:1px solid white; 
    border-left:1px solid white; border-right:1px solid white;
    background-image:url("images/CubeGrid/colHeaderSelectedOver.gif");
}						
.colHeaderSelectedDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:#808080;
    background-color:#3E74B3;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}

/* column label */
.colHeaderLabel {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #FFFFFF; border-top:1px solid #FFFFFF;
    border-right:1px solid #555555; border-bottom:1px solid #555555;
    background-image:url("images/CubeGrid/colHeaderLabel.gif");
}
.colHeaderLabelOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #000B3A; border-top:1px solid #000B3A;
    border-right:1px solid #555555; border-bottom:1px solid #555555;
    background-image:url("images/CubeGrid/colHeaderLabelDown.gif");
}
.colHeaderLabelDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#204B7A;
    border-left:1px solid #000B3A; border-top:1px solid #000B3A;
    border-right:1px solid #FFFFFF; border-bottom:1px solid #FFFFFF;
    background-image:url("images/CubeGrid/colHeaderLabelDown.gif");
}
.colHeaderLabelDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:#808080;
    background-color:#7D7D7D;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
.colHeaderLabelSelected,
.colHeaderLabelSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-left:1px solid black; border-top:1px solid black;
    border-right:1px solid #555555; border-bottom:1px solid #555555;
    background-image:url("images/CubeGrid/colHeaderLabelDown.gif");
}
.colHeaderLabelSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-top:1px solid white; border-bottom:1px solid white; 
    border-right:1px solid #555555; border-bottom:1px solid #555555;
    background-image:url("images/CubeGrid/colHeaderDown.gif");
}						
.colHeaderLabelSelectedDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:#808080;
    background-color:#7D7D7D;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}

/* inner header */
.innerHeader {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black;
    background-color:#CCCCCC;
    border-left:1px solid white; border-top:1px solid white;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
    background-image:url("images/CubeGrid/innerHeader.gif");
}
.innerHeaderOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black;
    background-color:#CCCCCC;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid white; border-bottom:1px solid white;
    background-image:url("images/CubeGrid/innerHeader.gif");
}
.innerHeaderDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black;
    background-color:#CCCCCC;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid white; border-bottom:1px solid white;
    background-image:url("images/CubeGrid/innerHeader.gif");
}
.innerHeaderDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#808080;
    background-color:#CCCCCC;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}
.innerHeaderSelected,
.innerHeaderSelectedDown {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-left:1px solid #00008B; border-top:1px solid #00008B;
    border-right:1px solid #F0F8FF; border-bottom:1px solid #F0F8FF;
    background-image:url("images/CubeGrid/innerHeaderSelected.gif");
}
.innerHeaderSelectedOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; font-weight:bold; color:white;
    background-color:#3E74B3;
    border-top:1px solid white; border-bottom:1px solid white; 
    border-left:1px solid white; border-right:1px solid white;
    background-image:url("images/CubeGrid/innerHeaderSelectedOver.gif");
}						
.innerHeaderSelectedDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#808080;
    background-color:#CCCCCC;
    border-left:1px solid #808080; border-top:1px solid #808080;
    border-right:1px solid #808080; border-bottom:1px solid #808080;
}



/*============================================================
	BarChart
	internal, charting/visualization module only
		styleName - chart
		barStyle - chartBar
		others are currently fixed
============================================================*/

.chart { 
    background-color:#CCCCCC;
}
.chartTitle {
    color:black;
    font-family: Tahoma,sans-serif;
    font-size:14px;
    font-weight: bold;
    text-align:center
}
.chartAxisTitle {
    color:green;
    font-family: Tahoma,sans-serif;
    font-weight: bold;
    font-size:12px;
}
.chartValueTitle {
    color:black;
    font-family: Tahoma,sans-serif;
    font-size:10px;
}
.chartTotal {
    color:black;
    font-family:Bitstream Vera Sans, sans-serif; 
    font-size:12px;
    background-color:linen;
}
.chartBody {
    border-left:1px solid black;
    border-top:1px dashed blue;
    border-right:1px solid black;
    background-color:#DDDDDD
}   
.chartBar1 {
    background-color:red;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#990000, endColorStr=#FF0000)";
}
.chartBar2 {
    background-color:blue;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#000099, endColorStr=#0000FF)";
}
.chartBar3 {
    background-color:green;
    filter:"progid:dximagetransform.microsoft.gradient(gradientType=1, startColorStr=#009900, endColorStr=#00FF00)";
}


/*============================================================
	Printing
        printHeader - general print style for header elements including:
        - ListGrid header cells
        - SectionStack headers
============================================================*/
.printHeader {
    font-family:Bitstream Vera Sans,Helvetica,Verdana,sans-serif; font-size:11px;
    border:1px solid black;
    font-weight:bold;
}

/*============================================================
	Calendar
    
============================================================*/
.calendar,
.calendarDisabled,
.calendarDisabledDark,
.calendarDisabledOver,
.calendarDisabledOverDark,
.calendarWorkday,
.calendarWorkdayDisabled,
.calendarDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#ffffff;
}

.calendarWorkdayDisabled,
.calendarDark,
.calendarDisabled,
.calendarDisabledDark,
.calendarDisabledOver,
.calendarDisabledOverDark {
    background-color:gainsboro;    
}

.calendarWorkday {
    background-color:#f2f2f2; 
}

.calendarOver,
.calendarOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#c0ffc0;
}
.calendarWorkdaySelected,
.calendarCellSelected {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#CCCCCC; 
}
.labelColumn,
.labelColumnDark,
.labelColumnOver,
.labelColumnOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:gainsboro;
}

.labelColumnOver,
.labelColumnOverDark, 
.calendarDisabledOver,
.calendarDisabledOverDark {
  background-color: #a4bbdb;
}

/* ----month---- */
/* calMonthDayHeader and Body */

.calMonthDayHeader,
.calMonthDayHeaderDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color: gainsboro;
}
.calMonthDayHeaderOver,
.calMonthDayHeaderOverDark,
.calMonthDayHeaderSelected,
.calMonthDayHeaderSelectedDark,
.calMonthDayHeaderSelectedOver,
.calMonthDayHeaderSelectedOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color: #c0ffc0;
}
.calMonthDayHeaderDisabled,
.calMonthDayHeaderDisabledOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#E6E6E6;
}

.calMonthDayBody,
.calMonthDayBodyDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#ffffff;
}
.calMonthDayBodyOver,
.calMonthDayBodyOverDark,
.calMonthDayBodySelected,
.calMonthDayBodySelectedDark,
.calMonthDayBodySelectedOver,
.calMonthDayBodySelectedOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#c0ffc0;
}
.calMonthDayBodyDisabled,
.calMonthDayBodyDisabledOver {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#E6E6E6;
}

/* calMonthOtherDayHeader and Body */
.calMonthOtherDayHeader,
.calMonthOtherDayHeaderDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:#444444;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color: #aaaaaa;
}

.calMonthOtherDayHeaderSelected,
.calMonthOtherDayHeaderSelectedOver,
.calMonthOtherDayHeaderOver,
.calMonthOtherDayHeaderOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:#444444;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color: #c0ffc0;
}
.calMonthOtherDayBody,
.calMonthOtherDayBodyDark, 
.calMonthOtherDayBodyDisabled, 
.calMonthOtherDayBodyDisabledOver{
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#E6E6E6;
}
.calMonthOtherDayBodyOver,
.calMonthOtherDayBodyOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:black;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color:#c0ffc0;
}

/* calMonthOtherDayBlank */
.calMonthOtherDayBlank,
.calMonthOtherDayBlankDark, 
.calMonthOtherDayBlankOver,
.calMonthOtherDayBlankOverDark,
.calMonthOtherDayBlankSelected,
.calMonthOtherDayBlankSelectedDark,
.calMonthOtherDayBlankSelectedOver,
.calMonthOtherDayBlankSelectedOverDark {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    color:#444444;
    border-bottom:1px solid #a0a0a0; border-right:1px solid #a0a0a0;
    background-color: #E6E6E6;
}

/* calMonthEventLink */

a.calMonthEventLink:link {color:blue; text-decoration:none}
a.calMonthEventLink:visited {color:blue; text-decoration:none}
a.calMonthEventLink:hover {color:blue; text-decoration:underline}
a.calMonthEventLink:active {color:blue; text-decoration:none}

/* ----event window---- */

.eventWindow {
    font-size:9px;
    background-color:#EBF4FF;
    border: 1px solid #d0dff6;
    padding: 1px;
    margin: 0px;
}

.eventWindowHeader,
.eventWindowGripper,
.eventWindowLabel {
    font-family:Arial,Verdana,Bitstream Vera Sans,sans-serif;
    font-size: 9px;
    color:#4C4C4C;
    background-color:#d0dff6;
    border: 1px solid #d0dff6;
    margin: 1px;
    padding: 2px 2px 0px 2px;
}

.eventWindowHeader,
.eventWindowBody {
  left:0px; 
  right:0px;
  overflow:hidden;
  position:absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eventWindowBody {
    font-family:Arial,Verdana,Bitstream Vera Sans,sans-serif; font-size: 9px;
    color:black;
    background-color:#EBF4FF;
    border: 1px solid #EBF4FF;
  margin-left: 1px;
  margin-right: 1px;
}

.eventWindowResizer{
    border-top:1px solid white;
    border-bottom: 1px solid white;
}

/* --- ZoneCanvas --- */

.zoneCanvas {
  background-color: rgba(150, 150, 150, 0.5);
}

.zoneCanvasHeader,
.zoneCanvasGripper,
.zoneCanvasLabel {
  display: inline-block;
  color: white;
  background-color: grey;
  left: 0px;
  bottom: 0px;
}

/* --- IndicatorCanvas --- */

.indicatorCanvas {
  background-color: #AA0000;
}

.indicatorCanvasHeader,
.indicatorCanvasGripper,
.indicatorCanvasLabel {
  display: inline-block;
  color: white;
  background-color: #AA0000;
  font-family: Arial, Verdana, sans-serif;
  font-size: 11px;
}

/* make all grippers rounded */
.eventWindowGripper,
.indicatorCanvasGripper,
.zoneCanvasGripper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 0px;
  margin: 0px;
}

/* show a border around floating labels */
.eventWindowLabel,
.zoneCanvasLabel,
.indicatorCanvasLabel {
  border: 1px solid black;
}

/*============================================================
	PropertySheet
	internal, used by Visual SmartClient tools
        propertySheet.autoChildDefaults.cellStyle - propSheetValue
        propertySheet.autoChildDefaults.titleStyle - propSheetTitle
        propertySheet.TextItemDefaults.textBoxStyle - propSheetField
        propertySheet.SelectItemDefaults.controlStyle - propSheetSelectControl
        propertySheet.ColorItemDefaults.textBoxStyle - propSheetField
        propertySheet.HeaderItemDefaults.textBoxStyle - propSheetHeading
        propertySheet.SectionHeaderItemDefaults.cellStyle - propSheetSectionItemCell
============================================================*/

.propSheetValue,
.propSheetValueFocused,
.propSheetValueDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    border-bottom:1px solid #AAAAAA;
    border-right:1px solid #AAAAAA;
    padding:0px;
    margin:0px;
}
.propSheetTitle,
.propSheetTitleFocused,
.propSheetTitleDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    border-bottom:1px solid #AAAAAA;
    border-right:1px solid #AAAAAA;
    background-color:#DDDDDD;
    padding-left:4px;
    padding-right:4px;
}
.propSheetTitleError,
.propSheetValueError {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; 
    font-size:11px; color:#204268; 
    background-color:#CFD9F2
}
.propSheetField,
.propSheetFieldDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    background-color:#FFFFFF;
    border:0px;
    padding:0px;
    padding-left:4px;
    padding-right:4px;
    margin-top:3px;
}
.propSheetHeading,
.propSheetHeadingDisabled {
    font-family:Verdana,Bitstream Vera Sans,sans-serif;
    font-size:11px;
    font-weight:bold;
    color:black;
    background-color:#CCCCCC;
    padding:4px;
    border-bottom:1px solid #AAAAAA;
}
.propSheetSelectControl,
.propSheetSelectControlFocused,
.propSheetSelectControlDisabled {
    padding-left:3px;
    padding-right:3px;
}

.propSheetSectionItemCell,
.propSheetSectionItemDisabled {
}


/* Styles for Finder cells */
.finder,
.finderSelected {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; 
    font-size:11px;
    background-color:#F0F0F0;
    border-bottom:1px solid white;
}
.finderSort,
.finderSelectedSort {
    font-family:Gadget, Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; background-color:#DDDDDD;
    border-bottom:1px solid white;
}
.finderDisabled {
    font-family:Chicago, Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#666666;
    background-color:#FFFFFF;
    border-bottom:1px solid #FFFFFF;
}
.finderSelectedText {
    color:white; background-color:black; margin:5px;
}

	/* header buttons */
.finderButton {
    font-family:Gadget, Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; background-color:#DDDDDD;
    border-left:1px solid white; border-top:1px solid white;
    border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;
}
.finderButtonDown,
.finderButtonSelectedDown {
    font-family:Gadget, Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:white;
    background-color:#999999;
    border-left:1px solid #666666; border-top:1px solid #666666;
    border-right:1px solid white; border-bottom:1px solid white;
}
.finderButtonSelectedDisabled,
.finderButtonSelected {
    font-family:Gadget, Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; background-color:#999999;
    border-left:1px solid #666666; border-top:1px solid #666666;
    border-right:1px solid white; border-bottom:1px solid white;
}
.finderButtonDisabled {
    font-family:Gadget, Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#666666;
    background-color:#999999;
    border-left:1px solid #CCCCCC; border-top:1px solid #CCCCCC;	
    border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;
}



/* Styles for Explorer cells */
.explorer,
.explorerOver,
.explorerSelected,
.explorerSelectedOver,
.explorerDark,
.explorerOverDark,
.explorerSelectedOverDark,
.explorerSelectedDark,
.explorerDisabled {
    font-family:MS Sans Serif, Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
}
.explorerSelectedText {
    background-color:darkblue; color:white; margin:5px;
}
.explorerButtonOver,
.explorerButtonSelected,
.explorerButtonSelectedOver,
.explorerButton {
    font-family:MS Sans Serif, Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    background-color:#CCCCCC;
    border-left:2px solid white; border-top:2px solid white;
    border-right:1px solid #999999; border-bottom:1px solid #999999;
}
.explorerButtonSelectedDown,
.explorerButtonDown {
    font-family:MS Sans Serif, Verdana,Bitstream Vera Sans,sans-serif; font-size:11px;
    background-color:#CCCCCC;  
    border-left:2px solid #999999; border-top:2px solid #999999;
    border-right:0px solid white; border-bottom:0px solid white;
}
.explorerButtonSelectedDisabled,
.explorerButtonDisabled	{
    font-family:MS Sans Serif, Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:#666666;
    background-color:#CCCCCC; 
    border-left:1px solid #CCCCCC; border-top:1px solid #CCCCCC;	
    border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC;
}
